<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Linkee 회원가입</title>
</head>
<body>

<h2>회원가입</h2>

<form th:action="@{/user/signup}" method="post">
         <div>
             <label for="userLoginId"></label>
             <input type="text" id="userLoginId" name="userLoginId" placeholder="아이디(이메일)를 입력하세요">
             <button type="submit">이메일 인증</button>
         </div>
         <div>
             <label for="userPw"></label>
             <input type="password" id="userPw" name="userPw" placeholder="비밀번호를 입력하세요">
         </div>
         <div>
             <label for="userNickname"></label>
             <input type="text" id="userNickname" name="userNickname" placeholder="닉네임을 입력하세요">
         </div>
    <button type="submit">가입하기</button>
</form>

</body>
</html>